[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/fastcov"]
	path = dependencies/fastcov
	url = https://github.com/RPGillespie6/fastcov.git
